body {
    color: white;
    background-color: whitesmoke;
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#head {
    background-color: #316DC3 !important;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
}

.head_space {
    padding-right: 25px;
}

.head_but {
    border: 1px solid black;
    color: #427900;
    font-size: 12px;
}

.navigation_bar {
    justify-content: right;
    font-weight: bold;
}

.round_hover:hover {
    border-radius: 15px 15px 15px 15px;
    background-color: #316DC3;
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.navigation_bar-brand {
    justify-content: right !important;
    flex: 6;
}

.image_slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 18;
}

#containier_headline {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#logo_lining:after, #logo_lining:before {
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #427900 !important;
}

#logo_lined {
    color: transparent;
}

#logo_img {
    position: relative;
    top: 35px;
}

.content_para {
    color: #666666;
}

#container_content {
    margin-top: 60px;
    margin-bottom: 60px;
}

#container_para {
    width: 70%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

#content_numbers {
    background-color: #316DC3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}

.spacing {
    margin: 50px;
}

.big_font {
    font-size: 3rem;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
}

.boxes {
    background-color: #fff !important;
    width: 360px;
    height: 185px;
    margin: 16px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    color: #316DC3;
    font-size: 1.2rem;
    padding-top: 30px;
    cursor: pointer;
}

#mission {
    width: 780px;
    height: auto;
    margin: 8px;
    text-align: left;
    color: #316DC3;
}

#headlines {
    width: 380px;
    height: auto;
    margin: 8px;
    text-align: left;
}

#container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: white;
}

.boxes2 {
    background-color: whitesmoke !important;
    width: 360px;
    height: 73px;
    margin: 16px auto;
    font-size: 1.2rem;
    padding-top: 20px;
    cursor: pointer;
    padding-left: 20px;
}

#headlines h3 {
    color: #316DC3;
    font-weight: bold;
}

#new_lining:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #427900 !important;
}

.boxes3 {
    background-color: #fff !important;
    width: 222px;
    height: 150px;
    margin: 2px;
    color: #316DC3;
    font-size: 1.2rem;
    padding-top: 30px;
    cursor: pointer;
}

#img_1 {
    background-image: url("https://www.saylaniwelfare.com/public_html/images/saylani/gallery/rashan2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_2 {
    background-image: url("https://www.saylaniwelfare.com/public_html/images/saylani/gallery/food.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_3 {
    background-image: url("https://www.saylaniwelfare.com/public_html/images/saylani/gallery/hazrat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_4 {
    background-image: url("https://www.saylaniwelfare.com/public_html/images/saylani/gallery/rashan2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_5 {
    background-image: url("https://www.saylaniwelfare.com/public_html/images/saylani/gallery/hazrat2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container_footer {
    background-color: rgb(37, 39, 46) !important;
}

.boxes4 {
    width: 400px;
    height: auto;
    margin: 2px;
    line-height: 0.5px;
    padding-top: 20px;
    text-align: center;
}

#container_last {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #bbb;
    text-align: left;
}

#last {
    background-color: #316DC3 !important;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    padding-left: 40px;
}

#space {
    color: transparent;
}

.text-white:hover {
    color: greenyellow !important;
}