span{
    color: #D5CAFF;
}
form{
    background-color: #6B5ACD;
}
label{
    color: #D5CAFF;
}
#form{
    width: 90%;
    margin: 50px;
    padding: 50px;

}
#head_logo{
    text-align: center;
}
#head_title{
    text-align: center;
    color: #6B5ACD;
}
#contents{
    width: 100%;
    text-align: center;
}
#message_head{
    color: #00B52C;
}
#message_cont{
    color: #8302BE;
}
#return{
    color: #66018B;
}